.Notes {
   max-width: 100%;
   width: 100%;
   height: calc(100% - 80px);
   margin: 0px auto;
   background-color:darkgray;
   .notes__container {
      max-width: 95%;
      width: 100%;
      display: flex;
      flex-direction:row;
      margin: 0px auto;
      justify-content: space-between;
      @media (max-width:690px) {
         flex-direction:column;
         max-width: 100%;
         width: 100%;
      }
   }
}